<p>
  <a href="/index.html">
    <img class="framed spin" src="https://secure.gravatar.com/avatar/7c0f70f86fa973656be9ec9084671662?s=150" alt="Gravatar" />
  </a>
</p>

<h1><a href="/index.html">Carlos Bonetti</a></h1>

<p>Computer science student and software developer</p>

<p><img src="images/github-mark-32px.png" alt="GitHub mark" width="16" /> <a href="https://github.com/CarlosBonetti" target="_blank">My GitHub Profile</a></p>

<ul>
  <li><a href="/curriculum_pt.html">Curriculum (portuguese)</a></li>
  <li><a href="/curriculum_en.html">Curriculum (english)</a></li>
</ul>
